.login-container {
    background-color: aliceblue;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}
.fa-small {
    font-size: 16px !important;
}
.badge {
    text-transform: capitalize;
}
.btn-float {
    float: left;
    margin-right: 12px;
}
.img-small {
    width: 180px;
}